<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <!--v-if,v-for 等号一定要紧跟他们-->
    <!--在div中的中文不用引号，对语句，参数用引号，在script出现的中文用引号/-->
</head>

<body>
<div id="myApp">
    <h3>游戏列表</h3>
    <div v-if="seen">
        最新游戏
    </div>
    <ol>
        <li v-for="game in games">
            {{game.title}}/{{game.price}}
        </li>
    </ol>
</div>
<script>
    var myApp = new Vue({
        el: '#myApp',
        data: {
            seen: true,
            games: [
                {title: "勇者斗恶龙", price: 400},
                {title: "超级玛丽", price: 400},
                {title: "口袋妖怪", price: 400}
            ]
        }
    })
</script>
</body>
</html>